/* Chatbot.css */

.Chatbot {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  animation: slideIn 0.5s ease-in-out;
}

.Chatbot.hidden {
  animation: slideOut 0.5s ease-in-out;
}

.chatbot-header {
  background-color: #c6e3fa;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-title {
  font-weight: bold;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.atrato-bot-message {
  background-color: #c6e3fa;
  color: white; 
  border-radius: 10px; 
  padding: 8px; 
  margin-bottom: 8px; 
}

.custom-message {
  background-color: #c6e3fa;
  color: white;
  border-radius: 10px;
  padding: 8px; 
  margin-bottom: 8px;
}


.user-message {
  background-color: #c6e3fa;
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
}

.cs-message__content {
  margin-bottom: 8px;
}

.user-message {
  background-color: #ded0f9;
  color: black;
  border-radius: 10px;
  padding: 8px;
  align-self: flex-end;
  margin-bottom: 8px;
}